doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title hello
  body
    form(method="post" action="./")
      span title:
      input(type="text" name="title")
      span  upload:
      input(type="file" name="name")
      button(type="submit") submit
